<table>
    <thead class="cart-item">
        <tr>
            <th>Name</th>
            <th>Quntity</th>
            <th>Action</th>
        </tr>

        
    </thead>
    <tbody>
        <tr>
            <td>{{ cartItem.productName }}</td>
            <td>{{ cartItem.qty }}</td>
            <!-- <td>{{ (cartItem.qty * cartItem.price) | currency:'AUD'}}</td> -->
            <td>
                <button  class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>
</table>

