<div class="card mb-4 box-shadow">
    <h4 class="product-name">{{productItem.name}}</h4>
    <img class="bd-placeholder-img card-img-top" width="100%" [src]="productItem.image">
    <div class="card-body">
      <p class="card-text">{{productItem.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button 
            type="button"
            class="btn btn-sm btn-primary product-btn"
            (click)="handleAddToCart()"
            [disabled]="productItem.available ? false : true"
            >Add to Cart
            </button>
            <button type="button" 
            class="btn btn-sm btn-danger product-btn 
            product-btn"
            [disabled]="productItem.available ? true : false"
            >Sold Out</button>
        </div>
        <strong>{{ productItem.price | currency:'AUD'}}</strong>
      </div>
    </div>
</div>


