<div *ngIf="cartItems.length === 0" class="alert alert-danger">Your Cart is Empty.
</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
  <li class="list-group-item">
    <table>
      <thead>
        <app-cart-table-header></app-cart-table-header> <!-- Include the table header component here -->
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.productName }}</td>
          <td>{{ item.qty }}</td>
          <td>
            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </li>

  <li class="list-group-item d-flex justify-content-between active">
    <strong>Total :</strong>{{ cartTotal$ | async | currency: 'AUD'}}
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      Total Products : <span> {{itemTotal}}</span>
  </li>
  <button routerLink="/checkout" class="btn btn-md btn-outline-secondary product-btn">
    <label>Continue To Checkout</label>
  </button>
</ul>