/* You can add global styles to this file, and also import other style files */
.cart-item{
    font-size: small;
}

.product-btn {
    font-size: medium;
}

.guest-form-card{
    text-transform: uppercase;
    font-size: medium;
}

.guest-form-card label{
    font-size: small;
}

h5{
    font-size: smaller;
}

